@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');

a, p, i, h2, h4, button, input, label, select, option{
  font-family: 'Montserrat', sans-serif
}


/* IMAGE */
.image img{
  max-width: 100%;
  /* padding: 50px */
}

/* FORM */
.firstDiv, .secondDiv, .thirdDiv {
  margin-top: 30px;
}

/*SEARCH DIV*/
.searchDiv h4{
  margin-top: 30px;
  margin-bottom: 20px;
}

/* FIRST DIV*/
.firstDiv h4{
  margin-bottom: 30px
}
.firstDiv .address div{
  margin-bottom: 20px
}
.firstDiv select {
  font-size: 1.1em;
}
.firstDiv option{
  font-size: 1em
}

/* SECOND DIV */
.secondDiv h4{
  margin-bottom: 30px
}
.secondDiv .information div{
  margin-bottom: 6px;
}
.secondDiv .information .date{
  margin-top: 10px;
}
.secondDiv .information .date label{
  padding-top: 10px
}
.secondDiv .information .descrip{
  margin-top: 10px;
}

/* THIRD DIV */
.thirdDiv .services{
  margin-top: 15px
}
.thirdDiv .services h5{
  margin-top: 15px;
}
.thirdDiv .installations h5{
  margin-top: 20px;
}
.thirdDiv .service{
  margin-top: 15px;
  margin-bottom: 10px;
  padding-left: 20px;
}

/* BUTTONS */
.backBtn{
  margin-top: 10px;
  background-color: #220e2a;
  border: 2px solid #220e2a;
  color: white
}
.backBtn:hover{
  background-color: transparent;
  color: #220e2a;
}
.nextBtn{
  margin-top: 10px;
  background-color: #220e2a;
  border: 2px solid #220e2a;
  color: white
}
.nextBtn:hover{
  background-color: #8bc5ce;
  color: #220e2a;
}
.saveBtn{
  margin-top: 10px;
  border: 2px solid #8bc5ce;
  color: #220e2a;
  background-color: #8bc5ce
}



/* OTHERS */
.inputValid {
  color: red;
}

.none {
  display: none;
}
input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}