<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="image d-none d-md-block col-6 mt-5 mt-lg-0">
        <img src="../../assets/images/formhouse.svg" alt="">
      </div>

      <!-- FIRST DIV -->
      <div id="address" *ngIf="firstDiv" class="col-12 col-md-6 firstDiv">
        <h4>¿Cuál es la dirección de la vivienda?</h4>
        <div class="row address">
          <div class="col-6">
            <select class="form-control" formControlName="type" name="Tipo de vivienda">
              <option value="" selected disabled>Tipo de vivienda</option>
              <option value="Apartamento">Apartamento</option>
              <option value="Chalet">Chalet</option>
            </select>
          </div>

          <div class="col-6">
            <input type="text" class="form-control " placeholder="País" formControlName="country">
            <div class="error inputValid"
              *ngIf="form.controls.country.errors?.required && form.controls.country.touched">
              Rellene el campo
            </div>
          </div>

          <div class="col-12">
            <input type="text" class="form-control" placeholder="Calle y número" formControlName="address">
            <div class=" error inputValid"
              *ngIf="form.controls.address.errors?.required && form.controls.address.touched">
              Rellene el campo País
            </div>
          </div>

          <div class="col-4">
            <input type="text" class="form-control" placeholder="Piso" formControlName="floor">
          </div>

          <div class="col-4">
            <input type="text" class="form-control" placeholder="Puerta" formControlName="letter">
          </div>

          <div class="col-4">
            <input type="text" class="form-control" placeholder="C.P" formControlName="cp">
            <div class=" error inputValid" *ngIf="form.controls.cp.errors?.required && form.controls.cp.touched">
              Rellene el campo
            </div>
          </div>

          <div class="col-6">
            <input type="text" class="form-control" placeholder="Poblacion" formControlName="village">
            <div class=" error inputValid"
              *ngIf="form.controls.village.errors?.required && form.controls.village.touched">
              Rellene el campo población
            </div>
          </div>

          <div class="col-6">
            <input type="text" class="form-control" placeholder="Provincia" formControlName="province">
            <div class=" error inputValid"
              *ngIf="form.controls.province.errors?.required && form.controls.province.touched">
              Rellene el campo provincia
            </div>
          </div>

          <div class="col-12">
            <div class="row">
              <div class="col-6">
                <button id="-1" class="btn backBtn" (click)="behindDiv($event)">Atras</button>
              </div>
              <div class="col-6 d-flex flex-row-reverse">
                <button id="1" class="btn nextBtn" [disabled]="validarPrimerForm()"
                  (click)="nextDiv($event)">Siguiente</button>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- SECOND DIV -->
      <div id="decript" *ngIf="secondDiv" class="secondDiv col-12 col-md-6">
        <h4>Información sobre la vivienda</h4>
        <div class="row information">
          <div class="col-12">
            <div class="row">
              <p class="col-10">¿Cuántos dormitorios tiene?</p>
              <input class="form-control col-2" type="number" formControlName="rooms">
            </div>
          </div>

          <div class="col-12">
            <div class="row">
              <p class="col-10">¿De cuántas camas dispone?</p>
              <input class="col-2 form-control" type="number" formControlName="beds">
            </div>
          </div>

          <div class="col-12">
            <div class="row">
              <p class="col-10">¿De cuántos baños dispone?</p>
              <input class="col-2 form-control" type="number" formControlName="baths">
            </div>
          </div>
          <div class="col-12">
            <div class="row">
              <p class="col-10">¿Capacidad?</p>
              <input class="col-2 form-control" type="number" formControlName="capacity">
            </div>

          </div>

          <div class="col-12">
            <p>¿En qué fechas desearías intercambiar tu casa?</p>
            <div class="row">
              <div class="date offset-1 col-10">
                <div class="row">
                  <div class="col-12 col-lg-6">
                    <div class="row">
                      <label class="col-6">Desde</label>
                      <input class="col-6 form-control col-form-label-sm" type="date" formControlName="datecheck">
                    </div>
                  </div>
                  <div class="col-12 col-lg-6">
                    <div class="row">
                      <label class="col-6">hasta</label>
                      <input class="col-6 form-control col-form-label-sm" type="date" formControlName="datecheckOut">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="row">
              <p class="col-12">Realiza una descripción de la vivienda</p>
              <div class="col-12">
                <textarea class="form-control" id="validationTextarea" placeholder=""
                  formControlName="description"></textarea>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="row">
              <div class="col-6">
                <button id="-2" class="btn backBtn" (click)="behindDiv($event)">Atras</button>
              </div>
              <div class="col-6 d-flex flex-row-reverse">
                <button id="2" class="btn nextBtn" (click)="nextDiv($event)" [disabled]="validarSegundoForm()">
                  Siguiente </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- THIRD DIV -->
      <div id="services" class="thirdDiv col-12 col-md-6" *ngIf="thirdDiv">
        <h4>Indica los servicios que tiene tu casa</h4>
        <div class="row services">
          <div class="col-12 service" *ngFor="let servicio of arrServices">
            <div class="row">
              <input class="col-1" type="checkbox" formControlName={{servicio}}>
              <p class="col-11">{{servicio}}</p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-6">
              <button id="-3" class="btn backBtn mt-4" (click)="behindDiv($event)">Atras</button>
            </div>
            <div class="col-6 d-flex flex-row-reverse">
              <button id="3" class="btn saveBtn" (click)="nextDiv($event)">Guardar</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </form>
</div>