<div class="wrapper">
  <h2 class="text-center">Registro de vivienda</h2>

  <div class="container col-6 ">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <!-- div address -->
      <div id="address" class="container" *ngIf="firstDiv">
        <p class="col-6 text-center">¿Cual es la direccion de la vivienda?</p>
        <p>{{activo}}</p>
        <div>
          <app-maps [modoInput]=false [modoMap]=true></app-maps>

        </div>
        <div [ngClass]="{none:activo}">
          <div class="row">


            <div class="col-3">
              <label>Tipo de Vivienda</label>
              <select class="form-control" formControlName="type">
                <option value="Apartamento">Apartamento</option>
                <option value="Chalet">Chalet</option>

              </select>
            </div>
            <div class="col-3">
              <label>Pais</label>
              <input type="text" class="form-control " placeholder="Pais" formControlName="country">
              <div class=" error inputValid"
                *ngIf="form.controls.country.errors?.required && form.controls.country.touched">
                Rellene el campo
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-6">
              <label>Direccion</label>
              <input type="text" class="form-control" placeholder="calle,numero" formControlName="address">
              <div class=" error inputValid"
                *ngIf="form.controls.address.errors?.required && form.controls.address.touched">
                Rellene el campo
              </div>
            </div>



          </div>
          <div class="row mt-3">
            <div class="col-2">
              <label>Piso</label>
              <input type="text" class="form-control" placeholder="piso" formControlName="floor">
            </div>
            <div class="col-2">
              <label>Letra</label>
              <input type="text" class="form-control" placeholder="puerta" formControlName="letter">
            </div>

            <div class="col-2">
              <label>C.P</label>
              <input type="text" class="form-control" placeholder="C.P" formControlName="cp">
              <div class=" error inputValid" *ngIf="form.controls.cp.errors?.required && form.controls.cp.touched">
                Rellene el campo
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-3">
              <label>Poblacion</label>
              <input type="text" class="form-control" placeholder="Poblacion" formControlName="village">
              <div class=" error inputValid"
                *ngIf="form.controls.village.errors?.required && form.controls.village.touched">
                Rellene el campo
              </div>
            </div>
            <div class="col-3">
              <label>Provincia</label>
              <input type="text" class="form-control" placeholder="Provincia" formControlName="province">
              <div class=" error inputValid"
                *ngIf="form.controls.province.errors?.required && form.controls.province.touched">
                Rellene el campo
              </div>
            </div>
          </div>

          <div class="col-12">
            <button id="-1" class="btn btn-danger mt-4" (click)="behindDiv($event)">Atras</button>

            <button id="1" class="offset-9 btn btn-danger mt-4" [disabled]="validarPrimerForm()"
              (click)="nextDiv($event)">Siguiente</button>
          </div>

          <!-- div first date -->
          <div id="decript" class="container" *ngIf="secondDiv">
            <p class="col-6 text-center"></p>

            <div class="row">
              <div class="col-4 mt-3">
                <p>¿Cuantos dormitorios tiene?</p>
                <input class="form-control" type="number" formControlName="rooms">
              </div>
              <div class="col-4 mt-3">
                <p class="">¿De cuantas camas dispone?</p>
                <div class=" mb-4">
                  <input class="form-control" type="number" formControlName="beds">
                </div>
              </div>
              <div class="col-4 mt-3">
                <p>¿De cuantos baños dispone?</p>
                <div class=" mb-4">
                  <input class="form-control" type="number" formControlName="baths">
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-6 mt-3">
                <p>¿Capacidad?</p>
                <input class="form-control" type="number" formControlName="capacity">
              </div>

              <div class="col-6 mt-3">
                <p>¿En que fechas desearia el intercambio?</p>
                <div class="col-6">
                  <p>Desde:</p>
                  <input type="date" formControlName="datecheck">
                  <p>Hasta</p>
                  <input type="date" formControlName="datecheckOut">
                </div>
              </div>
            </div>

            <div class="row mt-5">
              <div class="col-12">
                <p class="col-12">Realiza una descripcion de la vivienda</p>
                <div class="col-12">
                  <textarea class="form-control" id="validationTextarea" placeholder="Descripcion"
                    formControlName="description"></textarea>
                </div>
              </div>
              <div class="col-12">
                <button id="-2" class="btn btn-danger mt-4" (click)="behindDiv($event)">Atras</button>

                <button id="2" class="offset-9 btn btn-danger mt-4" (click)="nextDiv($event)"
                  [disabled]="validarSegundoForm()"> Siguiente </button>
              </div>
            </div>
            <!-- div Services -->
          </div>
          <div id="services" class="container" *ngIf="thirdDiv">
            <p class="text-center">Indica los servicios que disponga</p>
            <div class="row">
              <div class="col-2" *ngFor=" let servicio of arrServices" class=" mt-5">

                <div class="m-5">
                  <p>{{servicio}}</p>
                  <input type="checkbox" formControlName={{servicio}}>
                </div>
              </div>

            </div>
            <div class="col-12">
              <button id="-3" class="btn btn-danger mt-4" (click)="behindDiv($event)">Atras</button>

              <button id="3" class="offset-9 btn btn-danger mt-4" (click)="nextDiv($event)">Guardar</button>
            </div>
          </div>


        </div>
      </div>

    </form>


  </div>
</div>
