a, p, i, h2, h3, h4, button, input, label{
  font-family: 'Montserrat', sans-serif
}

.image{
  padding-top: 20px;
}
.image img{
  max-width: 100%;
}

.formulary{
  margin-top: 30px;
}
.formulary h3{
  margin-bottom:20px; 
}
.formulary div{
  margin-bottom: 0px;
}
.button .btn{
  margin-top: 10px;
  background-color: #8bc5ce;
  border: 2px solid #8bc5ce;
  color: white
}
.button .btn:hover{
  background-color: #220e2a;
  color: #8bc5ce;
  border: 2px solid #220e2a;
}
