@import url('https://fonts.googleapis.com/css?family=Lato|Nunito|Raleway&display=swap');

.register{
  padding: 50px 0px;
}
.titleRegist{
  margin: 30px 0px;
}

.image img{
  max-width: 100%;
  padding: 0px 30px;
}
input{
  margin-bottom: 20px
}
.btn{
  float: right;
}