<div class="container">
  <div class="register row">
    <div class="image d-none d-md-block col-6 mt-md-5 mt-lg-0">
      <img src="../../assets/images/formproject.svg" alt="">
    </div>
    <div class="col-12 col-md-6 mt-lg-5 formulary">
      <div class="row">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form col-10">
          <h3 class="titleRegist">Crea tu cuenta</h3>
          <div class="form-group">
            <input type="text" class="form-control" id="validationServer01" placeholder="Nombre" formControlName="name">
            <div class="valid-feedback">
              El campo esta vacío
            </div>
          </div>
          ​
          <div class="form-group">
            <input type="text" class="form-control" id="validationServer02" placeholder="Apellidos"
              formControlName="surNames">
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          ​
          <div class="form-group">
            <input type="text" class="form-control is-invalid" id="validationServer03" placeholder="Fecha de nacimiento"
              formControlName="dateBirth">
          </div>
          ​
          <div class="form-group">
            <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Contraseña"
              formControlName="password">
          </div>
          ​
          <div class="form-group">
            <input type="text" class="form-control is-invalid" id="validationServerUsername"
              placeholder="Verifica contraseña" aria-describedby="inputGroupPrepend3" formControlName="checkPassword">
          </div>
          <div class="button">
            <input type="submit" value="Enviar" class="btn btn-block">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>