<div class="container">
  <div class="register row">
    <!-- IMAGE -->
    <div
      class="image d-none d-md-block col-7 col-lg-6 mt-5 mt-lg-4 pr-md-5 pr-lg-0"
    >
      <div class="row">
        <img
          class="col-12 col-lg-10"
          src="../../assets/images/formproject.svg"
          alt=""
        />
      </div>
    </div>

    <!-- FORMULARY -->
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      class="formulary col-12 col-sm-10 offset-sm-1 col-md-5 offset-md-0 col-lg-6 mt-md-5 mb-4"
    >
      <div class="row">
        <div class="col-12">
          <h3 class="titleRegist">Crea tu cuenta</h3>
        </div>

        <div class="form-group col-12 col-lg-10">
          <input
            type="text"
            class="form-control"
            id="validationServer01"
            placeholder="Nombre"
            formControlName="nombre"
          />
          <!-- <div class="valid-feedback">
          El campo esta vacio
          </div> -->
        </div>
        <div class="form-group col-12 col-lg-10">
          <input
            type="text"
            class="form-control"
            id="validationServer02"
            placeholder="Apellidos"
            formControlName="apellidos"
          />
          <!-- <div class="valid-feedback">
          Looks good!
        </div> -->
        </div>
        <div class="form-group col-12 col-lg-10">
          <input
            type="text"
            class="form-control"
            placeholder="Fecha de nacimiento"
            formControlName="fecha_nacimiento"
          />
        </div>
        <div class="form-group col-12 col-lg-10">
          <input
            type="text"
            class="form-control"
            placeholder="email"
            formControlName="email"
          />
        </div>
        ​
        <div class="form-group col-12 col-lg-10">
          <input
            type="password"
            class="form-control"
            id=" validationServer02"
            placeholder="Contraseña"
            formControlName="contraseña"
          />
        </div>
        ​
        <div class="form-group col-12 col-lg-10">
          <input
            type="password"
            class="form-control"
            id="validationServerUsername"
            formControlName="repite_contraseña"
            placeholder="Verifica contraseña"
            aria-describedby="inputGroupPrepend3"
          />
        </div>
        <div class="button col-12 col-lg-6">
          <input type="submit" value="Crear" class="btn btn-block" />
        </div>
        <div class="button2 col-12 col-lg-6">
          <a class="btn2" [routerLink]="['/login']">¿Ya tienes una cuenta?</a>
        </div>
      </div>
    </form>
  </div>
</div>
