<div class="container">
  <!-- IMAGES -->
  <div class="images">
    <div class="row">
      <div class="pImg col-9 ">
        <div class="principalImage">
          <div>
            <img id="1" [src]=srcPrincipal alt="">
          </div>
        </div>
      </div>
      <div class="pImgs col-3">
        <div class="secondaryImages">
          <div class="pointer" *ngFor="let item of ArrayPhotos">
            <img (click)="changeImage($event)" [src]=item.src id={{item.id}}>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cards card text-center">
    <div class="title card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <a class="pointer nav-link" id="1" (click)="changeCard($event)">Descripción</a>
        </li>
        <li class="nav-item">
          <a class="pointer nav-link" id="2" (click)="changeCard($event)">Valoraciones</a>
        </li>
        <li class="nav-item">
          <a class="pointer nav-link" id="3" (click)="changeCard($event)">Comentarios</a>
        </li>
      </ul>
    </div>

    <!-- CARDS -->
    <div class="card-body" *ngIf="card1">
      <h4 class="card-title">Casa/Apartamento</h4>
      <p>Dirección</p>
      <a href="">2 <i class="fas fa-bed"></i></a>
      <a href="">4 <i class="fas fa-users"></i></a>
      <a href="">2 <i class="fas fa-bath"></i></a>
    </div>
    <div class="card-body" *ngIf="card2">
      <h4 class="card-title">Valoraciones</h4>
    </div>
    <div class="card-body" *ngIf="card3">
      <h4 class="card-title">Comentarios</h4>
    </div>
  </div>
</div>