<div class="container">
  <div class="row">
    <!-- IMAGES -->
    <div class="images mb-0">
      <div class="row">
        <div class="pImg col-9 ">
          <div class="principalImage">
            <div>
              <img id="1" [src]=srcPrincipal alt="">
            </div>
          </div>
        </div>
        <div class="pImgs col-3">
          <div class="secondaryImages">
            <div class="pointer" *ngFor="let item of ArrayPhotos">
              <img (click)="changeImage($event)" [src]=item.src id={{item.id}}>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- CARDs -->
    <div class="col-12 col-md-8 descriptionCard" *ngIf="card1">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-12 title">
              <h1>{{house?.titulo}}</h1>
              <p>{{house?.poblacion}}, {{house?.provincia}}</p>
            </div>
            <div class="col-12 icons mt-4 mb-4">
              <a class="mb-3">{{house?.habitaciones}} <i class="fas fa-bed"></i></a>
              <a href="">{{house?.capacidad}} <i class="fas fa-users"></i></a>
              <a href="">{{house?.banos}} <i class="fas fa-bath"></i></a>
              <p class="mt-2"> {{house?.descripcion}}</p>
            </div>
          </div>
        </div>


        <!-- services -->
        <div class="col-12 services mt-2 mb-0 mb-md-5">
          <div class="row">
            <div class="col-12  mb-3">
              <h4>Servicios</h4>
            </div>
            <div class="col-12 pl-5">
              <div class="row">
                <div *ngIf="house?.aireAcondicionado == 1" class="col-3 col-md-2 col-lg-1 mb-2">
                  <div class="row">
                    <div *ngIf="house?.aireAcondicionado === 1">
                      <img src="../../assets/servicios/icons8-aire-acondicionado-100.png" title="Aire Acondicinado"
                        class="iconServicep" alt="">
                    </div>
                  </div>
                </div>

                <div *ngIf="house?.calefaccion === 1  " class="col-3 col-md-2 col-lg-1">
                  <div class="row">
                    <div *ngIf="house?.calefaccion === 1">
                      <img src="../../assets/servicios/icons8-calefacción-50.png" title="Calefacción"
                        class="iconServiceg" alt="">
                    </div>
                  </div>
                </div>

                <div *ngIf="house?.wifi ===1 " class="col-3 col-md-2 col-lg-1">
                  <div class="row">
                    <div *ngIf="house?.wifi === 1">
                      <img src="../../assets/servicios/icons8-wifi-64.png" title="Wifi" class="iconServiceg" alt="">
                    </div>
                  </div>
                </div>

                <div *ngIf="house?.teleCable === 1 " class="col-3 col-md-2 col-lg-1">
                  <div class="row">

                    <div *ngIf="house?.teleCable === 1">
                      <img src="../../assets/servicios/icons8-televisión-de-alta-definición-80.png" title="teleCable"
                        class="iconServicep" alt="">
                    </div>
                  </div>
                </div>

                <div *ngIf="house?.plancha === 1  " class="col-3 col-md-2 col-lg-1">
                  <div class="row">
                    <div *ngIf="house?.plancha === 1">
                      <img src="../../assets/servicios/icons8-plancha-80.png" title="plancha" class="iconServicep"
                        alt="">
                    </div>
                  </div>
                </div>

                <div *ngIf="house?.horno === 1 " class="col-3 col-md-2 col-lg-1">
                  <div class="row">
                    <div *ngIf="house?.horno === 1">
                      <img src="../../assets/servicios/icons8-horno-tostador-50.png" title="horno" class="iconService"
                        alt="">
                    </div>
                  </div>
                </div>

                <div *ngIf="house?.microondas === 1 " class="col-3 col-md-2 col-lg-1">
                  <div class="row">
                    <div *ngIf="house?.microondas === 1">
                      <img src="../../assets/servicios/icons8-microondas-80.png" title="microondas" class="iconServicep"
                        alt="">
                    </div>
                  </div>
                </div>

                <div *ngIf="house?.secador === 1  " class="col-3 col-md-2 col-lg-1">
                  <div class="row">
                    <div *ngIf="house?.secador === 1">
                      <img src="../../assets/servicios/icons8-secador-de-pelo-64.png" title="secador"
                        class="iconService" alt="">
                    </div>
                  </div>
                </div>

                <div *ngIf="house?.lavavajillas === 1 " class="col-3 col-md-2 col-lg-1">
                  <div class="row">
                    <div *ngIf="house?.lavavajillas === 1">
                      <img src="../../assets/servicios/icons8-lavavajillas-80.png" title="lavavajillasp"
                        class="iconService" alt="">
                    </div>
                  </div>
                </div>

                <div *ngIf="house?.lavadora === 1 " class="col-3 col-md-2 col-lg-1">
                  <div class="row">

                    <img src="../../assets/servicios/icons8-lavadora-80.png" title="lavadora" class="iconServicep"
                      alt="">

                  </div>
                </div>

                <div *ngIf="house?.secadora === 1 " class="col-3 col-md-2 col-lg-1">
                  <div class="row">
                    <div *ngIf="house?.secadora === 1">
                      <img src="../../assets/servicios/icons8-secadora-50.png" title="secadora" class="iconServicep"
                        alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- intallations -->
        <div class="col-12 installations mt-4 ">

          <div class="row">

            <div class="col-12 mb-3">
              <h4>Instalaciones</h4>
            </div>
            <div class="col-12 pl-5">
              <div class="row">
                <div *ngIf="house?.ascensor == 1 " class="col-3 col-md-2 col-lg-1">
                  <div class="row">
                    <div *ngIf="house?.ascensor === 1">
                      <img src="../../assets/servicios/icons8-ascensor-50.png" title="ascensor" class="iconServiceg"
                        alt="">
                    </div>
                  </div>
                </div>

                <div *ngIf="house?.parking === 1 " class="col-3 col-md-2 col-lg-1">
                  <div class="row">
                    <div *ngIf="house?.parking === 1">
                      <img src="../../assets/servicios/icons8-garaje-80.png" title="parking" class="iconServicep"
                        alt="">
                    </div>
                  </div>
                </div>

                <div *ngIf="house?.piscina === 1  " class="col-3 col-md-2 col-lg-1">
                  <div class="row">
                    <div *ngIf="house?.piscina === 1">
                      <img src="../../assets/servicios/icons8-piscina-50.png" title="piscina" class="iconService"
                        alt="">
                    </div>
                  </div>
                </div>

                <div *ngIf="house?.parque === 1 " class="col-3 col-md-2 col-lg-1">
                  <div class="row">
                    <div *ngIf="house?.parque === 1">
                      <img src="../../assets/servicios/icons8-zona-de-juegos-80.png" title="Parque Infantil"
                        class="iconServicep" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>

      </div>

    </div>
    <div class="col-12 col-md-8" *ngIf="card2">
      <h4 class="card-title">Comentarios</h4>


      <textarea name="comentario" id="" cols="30" rows="10"
        [(ngModel)]="comentario">hfjshfshfjhdsfjhdhfhdjfhjdhfdhfdjhf</textarea>
      <button (click)="save()" type="submit">Enviar</button>


    </div>


    <div class="col-12 col-md-4 userInfoContain mt-0 mt-md-3 mb-5">
      <div class="containerImg">
        <div class="userimage"></div>
      </div>
      <div class="userInfo mt-3 text-center">
        <p>{{user?.nombre}} {{user?.apellidos}}</p>
        <p><a id="2" (click)="changeCard($event)">Contacta con el propietario</a></p>
      </div>
    </div>
  </div>
</div>