@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');

a, p, h1, h2, h3, h4, h5 button, input, label{
  font-family: 'Montserrat', sans-serif
}

/* IMAGES */
.images {
  margin-top: 20px;
}
.images img {
  width: 100%
}
.images .pImg {
  margin: 0;
  padding: 0;
  padding-left: 15px;

}
.images .pImg .principalImage img {
  height: 400px;
  object-fit: cover;
}

.images .pImgs {
  margin: 0;
  padding: 0;
  padding-right: 15px;
}

.images .pImgs .secondaryImages {
  height: 400px;
  overflow: auto;
}



/* CARD */
.descriptionCard {
  padding-left: 20px;
  margin-top: 20px;
}
.descriptionCard .title h1{
  font-weight: bold;
  color: #220e2a;
}
.descriptionCard .title p{
  margin-top: 0px;
  padding-top: 0px;
}
.descriptionCard .icons .bold{
  font-weight: bold;
  font-size: 1.2em;
}
.descriptionCard .icons a{
  font-weight: 1.2em;
  color: #220e2a;
  margin-right: 20px;
  margin-left: 0px
}
.descriptionCard h4{
  font-weight: bold;
}
.containerImg{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.userimage{
    background-image: url('../../assets/images/user.png');
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
}