a, p, i, h2, h4, button, input, label{
  font-family: 'Montserrat', sans-serif
}

/* MAP */
.map {
  width: 100%;
  height: 500px
}

.containMap {
  position: fixed;
  right: 0;

}

.loading {
  display: none;
}

.none {
  display: none;
}
