<!-- COMPONENTE FORM-HOUSE -->

<div [ngClass]="{none:modoInput}" class="search">
  <input class="form-control" type="text" id="inputPlace" (keypress)="handleEnter($event)">
</div>

<!-- COMPONENTE SEARCH -->
<!-- <div [ngClass]="{none:modoMap}">
  <div class="col-6 containMap ">
    <div class="mapContain"> -->
<!-- div de google maps -->
<!-- <div #googleMap class="map"></div>
    </div>
  </div>
  <div *ngIf="loading" class="col-6 containMap ">
    <div class="mapContain"> -->
<!-- div de google maps -->
<!-- <img src="https://i.pinimg.com/originals/3f/2c/97/3f2c979b214d06e9caab8ba8326864f3.gif" alt="">
    </div>
  </div>
</div> -->
