a, p, i, h2, h4, button, input, label{
  font-family: 'Montserrat', sans-serif
}


/* NAV PRINCIPAL */
.navbar {
  background-color: #220e2a;
}

.logo img {
  height: 80px;
  width: 110px;
}

.buttons .btn {
  margin-left: 10px;
  float: right;
}

.buttons .btn-outline-secondary {
  color: #8bc5ce;
  border-color: #8bc5ce;
}

.buttons .btn:hover,
.btn:active {
  background-color: #8bc5ce;
  color: #220e2a;
}
.footer p {
  margin: 10px;
}




/* FOOTER */
.footer {
  margin-top: 30px;
  background-color: #220e2a;
  padding-top: 10px;
  color: white;
  position: absolute;
  bottom: 0;
}

.footer a {
  text-decoration: none;
  color: white;
}
