<div class="container-fluid">
  <!-- HEADER -->
  <div class="row">
    <nav class="navbar navbar-light col-12">
      <div class="logo"></div>
      <div class="buttons">
        <button type="button" class="btn btn-outline-secondary">Regístrate</button>
        <button type="button" class="btn btn-outline-secondary">Inicia sesión</button>
      </div>
    </nav>
  </div>
  <router-outlet></router-outlet>
  <!-- FOOTER -->
  <div class="row">
    <div class="footer col-12">
      <p>Copyright &copy; 2020 - <a href="#">Aviso legal</a> - <a href="#">Cookies</a></p>
    </div>
  </div>
</div>
