<div class="container-fluid">
  <!-- HEADER -->
  <div class="row">
    <nav class="navbar col-12">
      <div class="logo col-2" [routerLink]="['/home']">
        <img src="../assets/images/logo2.png" alt="">
      </div>
      <div class="search col-5 d-none d-xs-none d-md-block">
        <input class="form-control form" type="search" (keypress)="searchFilter($event)"
          placeholder="¿A dónde quieres ir?" aria-label="Ciudad">
      </div>
      <div class="buttons col-10 col-md-5 ">
        <button *ngIf="!usuariosService.getLocalStore('token')" type="button" class="btn btn-outline-secondary"
          [routerLink]="['/user/register']">
          Regístrate</button>
        <button *ngIf="!usuariosService.getLocalStore('token')" type="button" class="btn btn-outline-secondary"
          [routerLink]="['/login']">Inicia sesión</button>
        <button *ngIf="usuariosService.getLocalStore('token')" type="button" class="btn btn-outline-secondary"
          (click)="signOff()" [routerLink]="['/home']"><i class="fas fa-power-off d-block d-sm-none"></i><span
            class="d-none d-sm-block">Cerrar sesión</span></button>
        <button *ngIf="usuariosService.getLocalStore('token')" type="button" class="btn btn-outline-secondary"
          [routerLink]="['/user']"><i class="fas fa-user d-block d-sm-none"></i><span
            class="d-none d-sm-block">Perfil</span></button>

      </div>
    </nav>
  </div>

  <router-outlet></router-outlet>

  <!-- FOOTER -->
  <div class="row">
    <div class="footer col-12">
      <p>Copyright &copy; 2020 - <a href="#">Aviso legal</a> - <a href="#">Cookies</a></p>
    </div>
  </div>
</div>