<!-- HEADER -->

<div class="container">
  <div class="row">
    <nav class="navbar navbar-light bg-light col-12 filters">
      <a class="navbar-brand">¿A dónde quieres ir?</a>
      <form class="form-inline">
        <input class="form-control mr-sm-2 form" type="search" placeholder="Ciudad" aria-label="Ciudad">
        <input class="form-control mr-sm-2" type="date" placeholder="Fecha" aria-label="Fecha">
        <button class="btn btn-outline-secondary" type="submit">Buscar</button>
      </form>
    </nav>
  </div>

</div>
<div class="container-fluid">
  <div class="container">
      
      <div class="row">
      
          <div class="col-7 casas mt-3 mr-5 " >
            <h2>Resultados de la busqueda</h2>
              <div class="row">
                  <div class=" col-12 mt-3 card" style="width: 18rem;">
                      <div class="row">
                          <img src="https://cflvdg.avoz.es/default/2019/06/30/00121561920814955999773/Foto/c.jpg" class="col-5 card-img-top" alt="Card image cap">
                          <div class="card-body col-7">
                              <h5 class="card-title">Casa Asturias</h5>
                              <p class="card-text">Casa en primera linea de playa,llanes,Asturias,españa.
                                <i class="fas fa-bed"></i>
                                <i class="fas fa-users"></i>
                                <i class="fas fa-bath"></i>
                              </p>
                              <a href="#" class="btn btn-primary">Ver</a>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="row">
                <div class=" col-12 mt-3 card" style="width: 18rem;">
                    <div class="row">
                        <img src="https://cflvdg.avoz.es/default/2019/06/30/00121561920814955999773/Foto/c.jpg" class="col-5 card-img-top" alt="Card image cap">
                        <div class="card-body col-7">
                            <h5 class="card-title">Casa Asturias</h5>
                            <p class="card-text">Casa en primera linea de playa,llanes,Asturias,españa.
                              <i class="fas fa-bed"></i>
                              <i class="fas fa-users"></i>
                              <i class="fas fa-bath"></i>
                            </p>
                            <a href="#" class="btn btn-primary">Ver</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
              <div class=" col-12 mt-3 card" style="width: 18rem;">
                  <div class="row">
                      <img src="https://cflvdg.avoz.es/default/2019/06/30/00121561920814955999773/Foto/c.jpg" class="col-5 card-img-top" alt="Card image cap">
                      <div class="card-body col-7">
                          <h5 class="card-title">Casa Asturias</h5>
                          <p class="card-text">Casa en primera linea de playa,llanes,Asturias,españa.
                            <i class="fas fa-bed"></i>
                            <i class="fas fa-users"></i>
                            <i class="fas fa-bath"></i>
                          </p>
                          <a href="#" class="btn btn-primary">Ver</a>
                      </div>
                  </div>
              </div>
          </div>

          <div class="row">
            <div class=" col-12 mt-3 card" style="width: 18rem;">
                <div class="row">
                    <img src="https://cflvdg.avoz.es/default/2019/06/30/00121561920814955999773/Foto/c.jpg" class="col-5 card-img-top" alt="Card image cap">
                    <div class="card-body col-7">
                        <h5 class="card-title">Casa Asturias</h5>
                        <p class="card-text">Casa en primera linea de playa,llanes,Asturias,españa.
                          <i class="fas fa-bed"></i>
                          <i class="fas fa-users"></i>
                          <i class="fas fa-bath"></i>
                        </p>
                        <a href="#" class="btn btn-primary">Ver</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
          <div class=" col-12 mt-3 card" style="width: 18rem;">
              <div class="row">
                  <img src="https://cflvdg.avoz.es/default/2019/06/30/00121561920814955999773/Foto/c.jpg" class="col-5 card-img-top" alt="Card image cap">
                  <div class="card-body col-7">
                      <h5 class="card-title">Casa Asturias</h5>
                      <p class="card-text">Casa en primera linea de playa,llanes,Asturias,españa.
                        <i class="fas fa-bed"></i>
                        <i class="fas fa-users"></i>
                        <i class="fas fa-bath"></i>
                      </p>
                      <a href="#" class="btn btn-primary">Ver</a>
                  </div>
              </div>
          </div>
      </div>
          </div>





          <div class="col-4 mt-3">
            <h2>Mapa</h2>
            <div class="mapa mt-3">
      <app-maps></app-maps>
            </div>
          </div>
      </div>
    
  
  </div>  
</div>