<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 icons d-flex justify-content-end">
      <div>
        <i id="1" class="fas fa-pen" *ngIf="showInputs" (click)="editeInfo($event)"></i>
        <i id="2" *ngIf="!showInputs" class="fas fa-check" (click)="editeInfo($event)"></i>
      </div>
      <div>
        <div>
          <i id="1" *ngIf="card2" (click)="changeCard($event)" class="fas fa-user"></i>
          <i id="2" *ngIf="card1" class="fas fa-home" (click)="changeCard($event)"></i>
        </div>
      </div>
      <div>
        <div>
          <i class="fas fa-trash-alt" (click)="deleteUser()" *ngIf="card1"></i>
          <i class="fas fa-trash-alt" (click)="deleteHouse()" *ngIf="card2"></i>
        </div>
      </div>

    </div>
    <div class="col-12 col-md-4" *ngIf="card1">
      <div class="containerImg mt-2 mt-md-5">
        <div class="userimage"></div>
      </div>
    </div>

    <div class="col-12 col-md-8 user">
      <div class="row">

        <div class="col-12 information" *ngIf="card1">
          <div class="row">
            <form [formGroup]="formEditUser" (ngSubmit)="onSubmit()" class="col-12">

              <div class="row">
                <div class="col-1 d-none d-sm-block"><i class="fas fa-user "></i></div>
                <div class="col-11 col-sm-9 info">
                  <p *ngIf="showInputs">{{user?.nombre}}</p>
                  <input *ngIf="!showInputs" type="text" class="form-control" formControlName="nombre">
                </div>
              </div>


              <div class="row">
                <div class="col-1 d-none d-sm-block"> <i class="fas fa-user "></i></div>
                <div class="col-11 col-sm-9 info">
                  <p *ngIf="showInputs">{{user?.apellidos}}</p>
                  <input *ngIf="!showInputs" type="text" class="form-control" formControlName="apellidos">
                </div>
              </div>


              <div class="row">
                <div class="col-1 d-none d-sm-block"><i class="far fa-calendar-alt "></i></div>
                <div class="col-11 col-sm-9 info">
                  <p *ngIf="showInputs">{{user?.fecha_nacimiento  | date}}</p>
                  <input *ngIf="!showInputs" type="date" class="form-control" formControlName="fecha_nacimiento">
                </div>
              </div>

              <div class="row">
                <div class="col-1 d-none d-sm-block"><i class="fa fa-envelope"></i></div>
                <div class="col-11 col-sm-9 info">
                  <p *ngIf="showInputs"> {{user?.email}}</p>
                  <input *ngIf="!showInputs" type="text" class="form-control" formControlName="email">
                </div>
              </div>
              <div class="message" *ngIf="showInputs">
                <button class="btnLink btn" [routerLink]="['/house/register']"><a>¿Aún no has registrado tu
                    casa?</a>
                </button>
              </div>
              <div class="button col-12 col-sm-10 d-flex flex-row-reverse" *ngIf="!showInputs">
                <button type="submit" class="btn saveBtn mt-4">Guardar</button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>

    <!-- house information -->
    <div class="col-12 houseInfo" *ngIf="card2">
      <div class="row">
        <form class="col-12" [formGroup]="formEditHouse" (ngSubmit)="onSubmitHouse()">
          <div class="row">
            <!-- feature -->
            <div class="col-12 col-md-6 feature">
              <div class="row">
                <div class="col-12">
                  <h5>Características de la casa</h5>
                </div>

                <div class="col-12">
                  <p *ngIf="showInputs">{{house?.tipo}}</p>
                  <input *ngIf="!showInputs" type="text" class="form-control form-control-sm"
                    placeholder="{{house?.tipo}}" formControlName="tipo">
                </div>
                <div class="col-12">
                  <p *ngIf="showInputs">{{house?.dormitorios}} dormitorios</p>
                  <input *ngIf="!showInputs" type="text" class="form-control form-control-sm"
                    placeholder="{{house?.dormitorios}} dormitorios" formControlName="habitaciones">
                </div>
                <div class="col-12">
                  <p *ngIf="showInputs">{{house?.camas}} camas</p>
                  <input *ngIf="!showInputs" type="text" class="form-control form-control-sm"
                    placeholder="{{house?.camas}} camas" formControlName="camas">
                </div>
                <div class="col-12">
                  <p *ngIf="showInputs">{{house?.banos}} baños</p>
                  <input *ngIf="!showInputs" type="text" class="form-control form-control-sm"
                    placeholder="{{house?.banos}} baños" formControlName="banos">
                </div>
                <div class="col-12">
                  <p *ngIf="showInputs">{{house?.capacidad}} personas</p>
                  <input *ngIf="!showInputs" type="text" class="form-control form-control-sm"
                    placeholder="{{house?.capacidad}} personas" formControlName="capacidad">
                </div>
                <div class="col-12">
                  <p *ngIf="showInputs">Descripción</p>
                  <p *ngIf="showInputs">{{house?.descripcion}}</p>
                  <input *ngIf="!showInputs" type="text-area" class="form-control form-control-sm"
                    placeholder="Descripción de tu casa" formControlName="descripcion">
                </div>

                <div class="col-12">
                  <p *ngIf="showInputs">{{house?.fecha_entrada}}</p>
                  <input *ngIf="!showInputs" type="text" class="form-control form-control-sm"
                    placeholder="{{house?.fecha_entrada}}" formControlName="fecha_entrada">
                </div>
                <div class="col-12">
                  <p *ngIf="showInputs">{{house?.fecha_salida}}</p>
                  <input *ngIf="!showInputs" type="text" class="form-control form-control-sm"
                    placeholder="{{house?.fecha_salida}}" formControlName="fecha_salida">
                </div>
              </div>
            </div>
            <!-- direction -->
            <div class="col-6 address">
              <div class="row">
                <div class="col-12">
                  <h5>Dirección</h5>
                </div>
                <div class="col-12">
                  <p *ngIf="showInputs">{{house?.pais}}</p>
                  <input *ngIf="!showInputs" type="text" class="form-control form-control-sm" placeholder="País"
                    formControlName="pais">
                </div>
                <div class="col-12">
                  <p *ngIf="showInputs">{{house?.direccion}}</p>
                  <input *ngIf="!showInputs" type="text" class="form-control form-control-sm"
                    placeholder="Calle y numero" formControlName="direccion">
                </div>
                <div class="col-12">
                  <p *ngIf="showInputs">{{house?.piso}}</p>
                  <input *ngIf="!showInputs" type="text" class="form-control form-control-sm" placeholder="Piso"
                    formControlName="piso">
                </div>
                <div class="col-12">
                  <p *ngIf="showInputs">{{house?.puerta}}</p>
                  <input *ngIf="!showInputs" type="text" class="form-control form-control-sm" placeholder="Puerta"
                    formControlName="puerta">
                </div>
                <div class="col-12">
                  <p *ngIf="showInputs">{{house?.cp}}</p>
                  <input *ngIf="!showInputs" type="text" class="form-control form-control-sm"
                    placeholder="Código postal" formControlName="cp">
                </div>
                <div class="col-12">
                  <p *ngIf="showInputs">{{house?.provincia}}</p>
                  <input *ngIf="!showInputs" type="text" class="form-control form-control-sm" placeholder="Provincia"
                    formControlName="provincia">
                </div>
                <div class="col-12">
                  <p *ngIf="showInputs">{{house?.poblacion}}</p>
                  <input *ngIf="!showInputs" type="text" class="form-control form-control-sm" placeholder="Población"
                    formControlName="poblacion">
                </div>
              </div>

            </div>

            <!-- services -->
            <div class="col-12 services">
              <div class="row">
                <div class="col-12">
                  <h5>Servicios</h5>
                </div>

                <div class="col-6">
                  <div class="row">
                    <input class="col-1" type="checkbox" *ngIf="!showInputs" formControlName="aireAcondicionado">
                    <p class="">{{house?.aireAcondicionado}} Aire acondicionado</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="row">
                    <input class="col-1" type="checkbox" *ngIf="!showInputs" formControlName="calefaccion">
                    <p class="">{{house?.calefaccion}} Calefacción</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="row">
                    <input class="col-1" type="checkbox" *ngIf="!showInputs" formControlName="wifi">
                    <p class="">{{house?.wifi}} Wifi</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="row">
                    <input class="col-1" type="checkbox" *ngIf="!showInputs" formControlName="teleCable">
                    <p class="">{{house?.teleCable}} Televisión por cable</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="row">
                    <input class="col-1" type="checkbox" *ngIf="!showInputs" formControlName="plancha">
                    <p class="">{{house?.plancha}} Plancha</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="row">
                    <input class="col-1" type="checkbox" *ngIf="!showInputs" formControlName="horno">
                    <p class="">{{house?.horno}} Horno</p>
                  </div>
                </div>

                <div class="col-6">
                  <div class="row">
                    <input class="col-1" type="checkbox" *ngIf="!showInputs" formControlName="microondas">
                    <p class="">{{house?.microondas}} Microondas</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="row">
                    <input class="col-1" type="checkbox" *ngIf="!showInputs" formControlName="tostador">
                    <p class="">{{house?.tostador}} Tostador</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="row">
                    <input class="col-1" type="checkbox" *ngIf="!showInputs" formControlName="secador">
                    <p class="">{{house?.secador}} Secador</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="row">
                    <input class="col-1" type="checkbox" *ngIf="!showInputs" formControlName="lavavajillas">
                    <p class="">{{house?.lavavajillas}} Lavavajillas</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="row">
                    <input class="col-1" type="checkbox" *ngIf="!showInputs" formControlName="lavadora">
                    <p class="">{{house?.lavadora}} Lavadora</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="row">
                    <input class="col-1" type="checkbox" *ngIf="!showInputs" formControlName="secadora">
                    <p class="">{{house?.secadora}} Secadora</p>
                  </div>
                </div>
              </div>

            </div>

            <!-- intallations -->
            <div class="col-12 installations">
              <div class="row">
                <div class="col-12">
                  <h5>Instalaciones</h5>
                </div>
                <div class="col-6">
                  <div class="row">
                    <input class="col-1" type="checkbox" *ngIf="!showInputs" formControlName="ascensor">
                    <p class="firstP">{{house?.ascensor}} Ascensor</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="row">
                    <input class="col-1" type="checkbox" *ngIf="!showInputs" formControlName="parking">
                    <p class="">{{house?.parking}} Parking</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="row">
                    <input class="col-1" type="checkbox" *ngIf="!showInputs" formControlName="piscina">
                    <p class="">{{house?.piscina}} Piscina</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="row">
                    <input class="col-1" type="checkbox" *ngIf="!showInputs" formControlName="terraza">
                    <p class="">{{house?.terraza}} Terraza</p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="row">
                    <input class="col-1" type="checkbox" *ngIf="!showInputs" formControlName="balcon">
                    <p class="">{{house?.balcon}} Balcón</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="button col-12 d-flex flex-row-reverse" *ngIf="!showInputs">
              <button type="submit" class="btn saveBtn mt-4">Guardar</button>
            </div>

          </div>
        </form>


      </div>

    </div>
  </div>
</div>
