<div class="container">
    <div class="row">
        <div class="col-12 col-md-8">
            <div class="information row">
                <div class="col-12 line">
                    <h3>Hola, nombre</h3>
                </div>
                <div class="offset-10 col-2">
                    <i id="1" class="fas fa-pen" *ngIf="showInputs" (click)="editeInfo($event)"></i>
                    <i id="2" *ngIf="!showInputs" class=" fas fa-check" (click)="editeInfo($event)"></i>
                </div>
                <div class="col-12 line">
                    <div class="row">
                        <div class="col-1"><i class="fas fa-user"></i></div>
                        <div class="col-11">
                            <p *ngIf="showInputs"> Nombre Apellidos</p>
                            <input *ngIf="!showInputs" type="text" placeholder="Nombre Apellidos">
                        </div>
                    </div>
                </div>
                <div class="col-12 line">
                    <div class="row">
                        <div class="col-1"><i class="fa fa-birthday-cake"></i></div>
                        <div class="col-11">
                            <p *ngIf="showInputs"> Fecha de nacimiento</p>
                            <input *ngIf="!showInputs" type="text" placeholder="Fecha de nacimiento">
                        </div>
                    </div>
                </div>
                <div class="col-12 line">
                    <div class="row">
                        <div class="col-1"><i class="fa fa-venus-mars"></i></div>
                        <div class="col-11">
                            <p *ngIf="showInputs"> Género</p>
                            <input *ngIf="!showInputs" type="text" placeholder="Género">
                        </div>
                    </div>
                </div>
                <div class="col-12 line">
                    <div class="row">
                        <div class="col-1"><i class="fa fa-phone"></i></div>
                        <div class="col-11">
                            <p *ngIf="showInputs"> Teléfono</p>
                            <input *ngIf="!showInputs" type="text" placeholder="Teléfono">
                        </div>
                    </div>
                </div>
                <div class="col-12 line">
                    <div class="row">
                        <div class="col-1"><i class="fa fa-envelope"></i></div>
                        <div class="col-11">
                            <p *ngIf="showInputs"> Email</p>
                            <input *ngIf="!showInputs" type="text" placeholder="Email">
                        </div>
                    </div>
                </div>
                <div class="col-12 line">
                    <div class="row">
                        <div class="col-1"><i class="fa fa-lock"></i></div>
                        <div class="col-11">
                            <p *ngIf="showInputs"> Contraseña</p>
                            <input *ngIf="!showInputs" type="text" placeholder="Contraseña">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="containerLeft">
                <div class="user ">
                    <div class="userimage"></div>
                    <div class="houseimage"></div>
                </div>
                <div class="house">

                </div>
            </div>
        </div>

    </div>

</div>