a,
p,
h2,
h4,
button,
input,
label {
  font-family: 'Montserrat', sans-serif
}

.display {
  display: none;
}

/* USER IMAGE */
.containerImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}



.userimage {
  background-image: url('../../assets/images/user.png');
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
}

/* ICONS */
.icons i {
  color: #220e2a;
  font-size: 1.4em;
  width: 25px;
  margin-top: 25px;
  margin-left: 10px;
}

.iconService {
  width: 32px;
}


.user p {
  font-size: 1.1em;

}

/* USER INFORMATION */
.information {
  padding-top: 30px;
}

.information .fa-pen,
.information .fa-check {
  font-size: 1em;
}

.information p {
  padding-left: 0px;
  margin-top: 10px;
  margin-bottom: 11px;
}

.information i {
  font-size: 1.4em;
  padding-top: 5px;
  margin-bottom: 20px;
  color: #220e2a;
}

.information .btnLink {
  margin-top: 10px;
  background-color: #220e2a;
  border: 2px solid #220e2a;

}

.information .btnLink:hover {
  background-color: transparent;

  border: 2px solid #220e2a;
}

.information .btnLink a {
  color: white
}

.information .btnLink:hover a {
  color: #220e2a;
}

.button .saveBtn {
  margin-top: 10px;
  background-color: #8bc5ce;
  border: 2px solid #8bc5ce;
  color: white
}

.button .saveBtn:hover {
  background-color: #220e2a;
  color: #8bc5ce;
  border: 2px solid #220e2a;
}

/* HOUSE INFORMATION */
.houseInfo {
  margin-top: 20px;
  margin-bottom: 50px
}

.houseInfo h5 {
  font-weight: bold;
  /* margin-bottom: 15px; */
  color: #220e2a;
}

.houseInfo p {
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 11px;
}

.houseInfo .feature {
  padding-bottom: 15px;
}

.houseInfo .feature textarea {
  margin-top: 10px
}

.houseInfo .services {
  padding-top: 20px;
}

.houseInfo .services p {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.houseInfo .installations {
  margin-top: 40px;
}

.houseInfo .installations p {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.houseInfo input {
  margin-top: 11px;
}

.look {
  background-color: #220e2a;
  color: #8bc5ce;
  border: 1px solid #8bc5ce;
  position: absolute;
  right: 0px;
  padding: 2px;

}

.look:hover {
  background-color: #8bc5ce;
  color: #220e2a;

}

.header-sms {
  background-color: #220e2a;
  color: #8bc5ce;

}

.x-cerrar {
  color: beige;

}

.name {
  color: #220e2a;
  ;
  font-size: 30px;
  font-weight: bold;
}

.emi {
  color: #220e2a;
  font-weight: 900;
  font-size: 19px;
  padding: 5px;
  border-bottom: 1px solid black;
}

.sms {
  padding: 6px;
  margin-top: 4px;
}

.time {
  font-size: 10px;
  margin-left: 89%;
  color: black;
}


.wrapperSms {
  border-radius: 21px;
  border: 1px solid lightblue;
  padding: 5px;
  margin-bottom: 19px;
  background-color: #8bc5ce;
  margin-right: 100px;
  border-top-left-radius: 0px;

}

.sangria {
  border-radius: 21px;
  margin-left: 100px;
  margin-right: 0px;
  background-color: white;
  border-top-right-radius: 0px;
}

.planet i {
  color: white;
  font-size: 25px;
  margin: 0px;
  padding-top: 15%;
  padding-bottom: 15%;

}

.flex {
  display: flex;
  flex-wrap: wrap;
  padding: 18px;
  background-color: #220e2a;

}

.flex .texarea {
  width: 85%;

}

.flex .boton {
  width: 15%;
  padding: 10px;


}

.flex .boton .planet {
  cursor: pointer;
  text-align: center;
  background-color: #8bc5ce;
  border-radius: 50%;

}

.scroll {
  overflow-y: scroll;
  height: 450px;

}

.scroll::-webkit-scrollbar {
  display: none;
}

.top {
  margin-top: 5px !important;
  cursor: pointer;
}

.namelist {
  padding-bottom: 20px;

}
