<div class="container">
  <div class="row">
    <div class="col-12 icons d-flex justify-content-end">
      <div>
        <i id="1" class="fas fa-pen" *ngIf="showInputs" (click)="editeInfo($event)"></i>
        <!-- <i id="2" *ngIf="!showInputs" class="fas fa-check" (click)="editeInfo($event)"></i> -->
      </div>
      <div>
        <div *ngIf="showInputs">
          <i id="1" *ngIf="card2" class="fas fa-user" (click)="changeCard($event)"></i>
        </div>
        <div [ngClass]="{'display': !showIcon}" *ngIf="showInputs">
          <i id="2" *ngIf="card1" class="fas fa-home" (click)="changeCard($event)"></i>
        </div>
      </div>
      <div>
        <div>
          <i class="fas fa-trash-alt" (click)="deleteUser()" *ngIf="card1"></i>
          <i class="fas fa-trash-alt" (click)="deleteHouse()" *ngIf="card2"></i>
        </div>
      </div>

    </div>
    <div class="col-12 col-md-4" *ngIf="card1">
      <div class="containerImg mt-2 mt-md-5">
        <div class="userimage"></div>
      </div>
    </div>

    <div class="col-12 col-md-8 user">
      <div class="row">

        <div class="col-12 information" *ngIf="card1">
          <div class="row">
            <form [formGroup]="formEditUser" (ngSubmit)="onSubmit()" class="col-12">

              <div class="row">
                <div class="col-1 d-none d-sm-block"><i class="fas fa-user "></i></div>
                <div class="col-11 col-sm-9 info">
                  <p *ngIf="showInputs">{{user?.nombre}}</p>
                  <input *ngIf="!showInputs" type="text" class="form-control" formControlName="nombre">
                </div>
              </div>


              <div class="row">
                <div class="col-1 d-none d-sm-block"> <i class="fas fa-user "></i></div>
                <div class="col-11 col-sm-9 info">
                  <p *ngIf="showInputs">{{user?.apellidos}}</p>
                  <input *ngIf="!showInputs" type="text" class="form-control" formControlName="apellidos">
                </div>
              </div>


              <div class="row">
                <div class="col-1 d-none d-sm-block"><i class="far fa-calendar-alt "></i></div>
                <div class="col-11 col-sm-9 info">
                  <p *ngIf="showInputs">{{fechaFormat}}</p>
                  <input *ngIf="!showInputs" type="date" class="form-control" formControlName="fecha_nacimiento">
                </div>
              </div>

              <div class="row">
                <div class="col-1 d-none d-sm-block"><i class="fa fa-envelope"></i></div>
                <div class="col-11 col-sm-9 info">
                  <p *ngIf="showInputs"> {{user?.email}}</p>
                  <input *ngIf="!showInputs" type="text" class="form-control" formControlName="email">
                </div>
              </div>
              <div class="message" *ngIf="showInputs">
                <button *ngIf="!showIcon" class="btnLink btn" [routerLink]="['/house/register']"><a>¿Aún no has
                    registrado
                    tu
                    casa?</a>
                </button>
              </div>
              <div class="button col-12 col-sm-10 d-flex flex-row-reverse" *ngIf="!showInputs">
                <button (click)="editeInfo($event)" type="submit" class="btn saveBtn mt-4">Guardar</button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>

    <!-- house information -->
    <div class="col-12 houseInfo" *ngIf="card2">
      <div class="row">
        <form class="col-12" [formGroup]="formEditHouse" (ngSubmit)="onSubmitHouse()">
          <div class="row">
            <!-- feature -->
            <div class="col-12 col-md-6 feature">
              <div class="row">
                <div class="col-12">
                  <h5>Características de la casa</h5>
                </div>

                <div class="col-12 mt-2">
                  <p *ngIf="showInputs">Nombre: {{house?.titulo}}</p>
                  <input *ngIf="!showInputs" type="select" class="form-control form-control-sm"
                    placeholder="{{house?.titulo}}" formControlName="titulo">
                </div>
                <div class="col-12">
                  <p *ngIf="showInputs">{{house?.habitaciones}} habitaciones</p>
                  <input *ngIf="!showInputs" type="text" class="form-control form-control-sm"
                    placeholder="{{house?.dormitorios}} dormitorios" formControlName="habitaciones">
                </div>
                <div class="col-12">
                  <p *ngIf="showInputs">{{house?.camas}} camas</p>
                  <input *ngIf="!showInputs" type="text" class="form-control form-control-sm"
                    placeholder="{{house?.camas}} camas" formControlName="camas">
                </div>
                <div class="col-12">
                  <p *ngIf="showInputs">{{house?.banos}} baños</p>
                  <input *ngIf="!showInputs" type="text" class="form-control form-control-sm"
                    placeholder="{{house?.banos}} baños" formControlName="banos">
                </div>
                <div class="col-12">
                  <p *ngIf="showInputs">{{house?.capacidad}} personas</p>
                  <input *ngIf="!showInputs" type="text" class="form-control form-control-sm"
                    placeholder="{{house?.capacidad}} personas" formControlName="capacidad">
                </div>
                <div class="col-12">
                  <p>Descripción</p>
                  <p *ngIf="showInputs">{{house?.descripcion | puntos}}</p>
                  <textarea *ngIf="!showInputs" class="form-control" placeholder="{{house?.descripcion}}"
                    formControlName="descripcion"></textarea>
                </div>

                <div class="col-12">
                  <p>Fecha de entrada: </p>
                  <p *ngIf="showInputs">{{house?.fecha_entrada}}</p>
                  <input *ngIf="!showInputs" type="text" class="form-control form-control-sm"
                    placeholder="{{house?.fecha_entrada}}" formControlName="fecha_entrada">
                </div>
                <div class="col-12">
                  <p>Fecha de salida:</p>
                  <p *ngIf="showInputs">{{house?.fecha_salida}}</p>
                  <input *ngIf="!showInputs" type="text" class="form-control form-control-sm"
                    placeholder="{{house?.fecha_salida}}" formControlName="fecha_salida">
                </div>
              </div>
            </div>
            <!-- direction -->
            <div class="col-12 col-md-6 address">
              <div class="row">
                <div class="col-12">
                  <h5>Dirección</h5>
                </div>

                <div class="col-12 mt-2">
                  <p *ngIf="showInputs">Dirección: {{house?.direccion}}</p>
                  <input *ngIf="!showInputs" type="text" class="form-control form-control-sm"
                    placeholder="Calle y numero" formControlName="direccion">
                </div>
                <div class="col-12">
                  <p *ngIf="showInputs">Piso: {{house?.piso}}</p>
                  <input *ngIf="!showInputs" type="text" class="form-control form-control-sm" placeholder="Piso"
                    formControlName="piso">
                </div>
                <div class="col-12">
                  <p *ngIf="showInputs">Letra: {{house?.puerta}}</p>
                  <input *ngIf="!showInputs" type="text" class="form-control form-control-sm" placeholder="Puerta"
                    formControlName="puerta">
                </div>
                <div class="col-12">
                  <p *ngIf="showInputs">Código postal: {{house?.cp}}</p>
                  <input *ngIf="!showInputs" type="text" class="form-control form-control-sm"
                    placeholder="{{house?.cp}}" formControlName="cp">
                </div>
                <div class="col-12">
                  <p *ngIf="showInputs">Provincia: {{house?.provincia}}</p>
                  <input *ngIf="!showInputs" type="text" class="form-control form-control-sm" placeholder="Provincia"
                    formControlName="provincia">
                </div>
                <div class="col-12">
                  <p *ngIf="showInputs">Población: {{house?.poblacion}}</p>
                  <input *ngIf="!showInputs" type="text" class="form-control form-control-sm" placeholder="Población"
                    formControlName="poblacion">
                </div>
                <div class="col-12">
                  <p *ngIf="showInputs">País: {{house?.pais}}</p>
                  <input *ngIf="!showInputs" type="text" class="form-control form-control-sm" placeholder="País"
                    formControlName="pais">
                </div>
              </div>

            </div>

            <!-- services -->
            <div class="col-12 services">
              <div class="row">
                <div class="col-12">
                  <h5>Servicios</h5>
                </div>

                <div *ngIf="house.aireAcondicionado === 1 || !(house.aireAcondicionado === 0 && showInputs) "
                  class="col-6">
                  <div class="row">
                    <input class="col-1" type="checkbox" *ngIf="!showInputs" formControlName="aireAcondicionado">
                    <p *ngIf="!showInputs">Aire Acondicinado</p>
                    <div *ngIf="house.aireAcondicionado === 1">
                      <img src="../../assets/servicios/icons8-aire-acondicionado-100.png" title="Aire Acondicinado"
                        class="iconService" *ngIf="showInputs" alt="">
                    </div>
                  </div>
                </div>

                <div *ngIf="house.calefaccion === 1 || !(house.calefaccion === 0 && showInputs) " class="col-6">
                  <div class="row">
                    <input class="col-1" type="checkbox" *ngIf="!showInputs" formControlName="calefaccion">
                    <p *ngIf="!showInputs">Calefacción</p>
                    <div *ngIf="house.calefaccion === 1">
                      <img src="../../assets/servicios/icons8-calefacción-50.png" title="Calefacción"
                        class="iconService" *ngIf="showInputs" alt="">
                    </div>
                  </div>
                </div>

                <div *ngIf="house.wifi === 1 || !(house.wifi === 0 && showInputs) " class="col-6">
                  <div class="row">
                    <input class="col-1" type="checkbox" *ngIf="!showInputs" formControlName="wifi">
                    <p *ngIf="!showInputs">Wifi</p>
                    <div *ngIf="house.wifi === 1">
                      <img src="../../assets/servicios/icons8-wifi-64.png" title="Wifi" class="iconService"
                        *ngIf="showInputs" alt="">
                    </div>
                  </div>
                </div>

                <div *ngIf="house.teleCable === 1 || !(house.teleCable === 0 && showInputs) " class="col-6">
                  <div class="row">
                    <input class="col-1" type="checkbox" *ngIf="!showInputs" formControlName="teleCable">
                    <p *ngIf="!showInputs">Televisión por cable</p>
                    <div *ngIf="house.teleCable === 1">
                      <img src="../../assets/servicios/icons8-televisión-de-alta-definición-80.png" title="teleCable"
                        class="iconService" *ngIf="showInputs" alt="">
                    </div>
                  </div>
                </div>

                <div *ngIf="house.plancha === 1 || !(house.plancha === 0 && showInputs) " class="col-6">
                  <div class="row">
                    <input class="col-1" type="checkbox" *ngIf="!showInputs" formControlName="plancha">
                    <p *ngIf="!showInputs">Plancha</p>
                    <div *ngIf="house.plancha === 1">
                      <img src="../../assets/servicios/icons8-plancha-80.png" title="plancha" class="iconService"
                        *ngIf="showInputs" alt="">
                    </div>
                  </div>
                </div>

                <div *ngIf="house.horno === 1 || !(house.horno === 0 && showInputs) " class="col-6">
                  <div class="row">
                    <input class="col-1" type="checkbox" *ngIf="!showInputs" formControlName="horno">
                    <p *ngIf="!showInputs">Horno</p>
                    <div *ngIf="house.horno === 1">
                      <img src="../../assets/servicios/icons8-horno-tostador-50.png" title="horno" class="iconService"
                        *ngIf="showInputs" alt="">
                    </div>
                  </div>
                </div>

                <div *ngIf="house.microondas === 1 || !(house.microondas === 0 && showInputs) " class="col-6">
                  <div class="row">
                    <input class="col-1" type="checkbox" *ngIf="!showInputs" formControlName="microondas">
                    <p *ngIf="!showInputs">Microondas</p>
                    <div *ngIf="house.microondas === 1">
                      <img src="../../assets/servicios/icons8-microondas-80.png" title="microondas" class="iconService"
                        *ngIf="showInputs" alt="">
                    </div>
                  </div>
                </div>

                <div *ngIf="house.secador === 1 || !(house.secador === 0 && showInputs) " class="col-6">
                  <div class="row">
                    <input class="col-1" type="checkbox" *ngIf="!showInputs" formControlName="secador">
                    <p *ngIf="!showInputs">Secador</p>
                    <div *ngIf="house.secador === 1">
                      <img src="../../assets/servicios/icons8-secador-de-pelo-64.png" title="secador"
                        class="iconService" *ngIf="showInputs" alt="">
                    </div>
                  </div>
                </div>

                <div *ngIf="house.lavavajillas === 1 || !(house.lavavajillas === 0 && showInputs) " class="col-6">
                  <div class="row">
                    <input class="col-1" type="checkbox" *ngIf="!showInputs" formControlName="lavavajillas">
                    <p *ngIf="!showInputs">Lavavajillas</p>
                    <div *ngIf="house.lavavajillas === 1">
                      <img src="../../assets/servicios/icons8-lavavajillas-80.png" title="lavavajillas"
                        class="iconService" *ngIf="showInputs" alt="">
                    </div>
                  </div>
                </div>

                <div *ngIf="house.lavadora === 1 || !(house.lavadora === 0 && showInputs) " class="col-6">
                  <div class="row">
                    <input class="col-1" type="checkbox" *ngIf="!showInputs" formControlName="lavadora">
                    <p *ngIf="!showInputs">Lavadora</p>
                    <div *ngIf="house.lavadora === 1">
                      <img src="../../assets/servicios/icons8-lavadora-80.png" title="lavadora" class="iconService"
                        *ngIf="showInputs" alt="">
                    </div>
                  </div>
                </div>

                <div *ngIf="house.secadora === 1 || !(house.secadora === 0 && showInputs) " class="col-6">
                  <div class="row">
                    <input class="col-1" type="checkbox" *ngIf="!showInputs" formControlName="secadora">
                    <p *ngIf="!showInputs">Secadora</p>
                    <div *ngIf="house.secadora === 1">
                      <img src="../../assets/servicios/icons8-secadora-50.png" title="secadora" class="iconService"
                        *ngIf="showInputs" alt="">
                    </div>
                  </div>
                </div>

              </div>

            </div>

            <!-- intallations -->
            <div class="col-12 installations">

              <div class="row">

                <div class="col-12">
                  <h5>Instalaciones</h5>
                </div>

                <div *ngIf="house.ascensor === 1 || !(house.ascensor === 0 && showInputs) " class="col-6">
                  <div class="row">
                    <input class="col-1" type="checkbox" *ngIf="!showInputs" formControlName="ascensor">
                    <p *ngIf="!showInputs">Ascensor</p>
                    <div *ngIf="house.ascensor === 1">
                      <img src="../../assets/servicios/icons8-ascensor-50.png" title="ascensor" class="iconService"
                        *ngIf="showInputs" alt="">
                    </div>
                  </div>
                </div>

                <div *ngIf="house.piscina === 1 || !(house.parking === 0 && showInputs) " class="col-6">
                  <div class="row">
                    <input class="col-1" type="checkbox" *ngIf="!showInputs" formControlName="Garaje">
                    <p *ngIf="!showInputs">Garaje</p>
                    <div *ngIf="house.parking === 1">
                      <img src="../../assets/servicios/icons8-garaje-80.png" title="parking" class="iconService"
                        *ngIf="showInputs" alt="">
                    </div>
                  </div>
                </div>

                <div *ngIf="house.piscina === 1 || !(house.piscina === 0 && showInputs) " class="col-6">
                  <div class="row">
                    <input class="col-1" type="checkbox" *ngIf="!showInputs" formControlName="piscina">
                    <p *ngIf="!showInputs">Piscina</p>
                    <div *ngIf="house.piscina === 1">
                      <img src="../../assets/servicios/icons8-piscina-50.png" title="piscina" class="iconService"
                        *ngIf="showInputs" alt="">
                    </div>
                  </div>
                </div>

                <!-- <div *ngIf="house.parque === 1 || !(house.parque === 0 && showInputs) " class="col-6">
                  <div class="row">
                    <input class="col-1" type="checkbox" *ngIf="!showInputs" formControlName="parque">
                    <p *ngIf="!showInputs">Parque Infantil</p>
                    <div *ngIf="house.parque === 1">
                      <img src="../../assets/servicios/icons8-zona-de-juegos-80.png" title="Parque Infantil" class="iconService"
                        *ngIf="showInputs" alt="">
                    </div>
                  </div>
                </div> -->

              </div>
            </div>
            <div class="button col-12 d-flex flex-row-reverse" *ngIf="!showInputs">
              <button type="submit" (click)="editeInfo($event)" class="btn saveBtn mt-4">Guardar</button>
            </div>

          </div>
        </form>


      </div>

    </div>
  </div>
</div>