<!-- HEADER -->

<div class="row">
    <nav class="navbar navbar-light col-12 filters">
        <a class="navbar-brand">¿A dónde quieres ir?</a>
        <form class="form-inline">
            <input class="form-control mr-sm-2 form" type="search" placeholder="Ciudad" aria-label="Ciudad">
            <input class="form-control mr-sm-2" type="date" placeholder="Fecha" aria-label="Fecha">
            <button class="btn btn-outline-secondary" type="submit">Buscar</button>
        </form>
    </nav>
</div>

<div class="row">
    <div class="col-12 col-lg-6">
        <div class="houses">
            <div class="row house">
                <div class="col-5 image">
                    <img src="https://cflvdg.avoz.es/default/2019/06/30/00121561920814955999773/Foto/c.jpg"
                        class="card-img-top" alt="house image">
                </div>
                <div class=" col-7 info">
                    <h4 class="card-title">Casa Asturias</h4>
                    <p>Llanes, Asturias, España.</p>
                    <a href="">2 <i class="fas fa-bed"></i></a>
                    <a href="">4 <i class="fas fa-users"></i></a>
                    <a href="">1 <i class="fas fa-bath"></i></a>
                    <p class="card-text">Casa en primera linea de playa.</p>
                    <a href="#" class="btn btn-primary">Ver</a>
                </div>
            </div>
            <div class="row house">
                <div class="col-5 image">
                    <img src="https://cflvdg.avoz.es/default/2019/06/30/00121561920814955999773/Foto/c.jpg"
                        class="card-img-top" alt="house image">
                </div>
                <div class=" col-7 info">
                    <h4 class="card-title">Casa Asturias</h4>
                    <p>Llanes, Asturias, España.</p>
                    <a href="">2 <i class="fas fa-bed"></i></a>
                    <a href="">4 <i class="fas fa-users"></i></a>
                    <a href="">1 <i class="fas fa-bath"></i></a>
                    <p class="card-text">Casa en primera linea de playa.</p>
                    <a href="#" class="btn btn-primary">Ver</a>
                </div>
            </div>
            <div class="row house">
                <div class="col-5 image">
                    <img src="https://cflvdg.avoz.es/default/2019/06/30/00121561920814955999773/Foto/c.jpg"
                        class="card-img-top" alt="house image">
                </div>
                <div class=" col-7 info">
                    <h4 class="card-title">Casa Asturias</h4>
                    <p>Llanes, Asturias, España.</p>
                    <a href="">2 <i class="fas fa-bed"></i></a>
                    <a href="">4 <i class="fas fa-users"></i></a>
                    <a href="">1 <i class="fas fa-bath"></i></a>
                    <p class="card-text">Casa en primera linea de playa.</p>
                    <a href="#" class="btn btn-primary">Ver</a>
                </div>
            </div>
            <div class="row house">
                <div class="col-5 image">
                    <img src="https://cflvdg.avoz.es/default/2019/06/30/00121561920814955999773/Foto/c.jpg"
                        class="card-img-top" alt="house image">
                </div>
                <div class=" col-7 info">
                    <h4 class="card-title">Casa Asturias</h4>
                    <p>Llanes, Asturias, España.</p>
                    <a href="">2 <i class="fas fa-bed"></i></a>
                    <a href="">4 <i class="fas fa-users"></i></a>
                    <a href="">1 <i class="fas fa-bath"></i></a>
                    <p class="card-text">Casa en primera linea de playa.</p>
                    <a href="#" class="btn btn-primary">Ver</a>
                </div>
            </div>
            <div class="row house">
                <div class="col-5 image">
                    <img src="https://cflvdg.avoz.es/default/2019/06/30/00121561920814955999773/Foto/c.jpg"
                        class="card-img-top" alt="house image">
                </div>
                <div class=" col-7 info">
                    <h4 class="card-title">Casa Asturias</h4>
                    <p>Llanes, Asturias, España.</p>
                    <a href="">2 <i class="fas fa-bed"></i></a>
                    <a href="">4 <i class="fas fa-users"></i></a>
                    <a href="">1 <i class="fas fa-bath"></i></a>
                    <p class="card-text">Casa en primera linea de playa.</p>
                    <a href="#" class="btn btn-primary">Ver</a>
                </div>
            </div>
            <div class="row house">
                <div class="col-5 image">
                    <img src="https://cflvdg.avoz.es/default/2019/06/30/00121561920814955999773/Foto/c.jpg"
                        class="card-img-top" alt="house image">
                </div>
                <div class=" col-7 info">
                    <h4 class="card-title">Casa Asturias</h4>
                    <p>Llanes, Asturias, España.</p>
                    <a href="">2 <i class="fas fa-bed"></i></a>
                    <a href="">4 <i class="fas fa-users"></i></a>
                    <a href="">1 <i class="fas fa-bath"></i></a>
                    <p class="card-text">Casa en primera linea de playa.</p>
                    <a href="#" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6 d-none d-xs-block d-md-none">
        <div class="mapContain">
            <!-- div de google maps -->
            <div #googleMap class="map"></div>
            <input type="text" id="inputPlace">
            <button (click)="mapa()">Ir a la direccion</button>
        </div>
    </div>
</div>