<!-- <div class="row nav">
  <nav class="navbar navbar-light col-12 filters">
    <a class="navbar-brand">¿A dónde quieres ir?</a>
    <form class="form-inline">

      <button class="btn btn-outline-secondary" (click)="mapa()">Buscar</button>
    </form>
  </nav>
</div> -->
<div class="main">
  <div class="row">
    <!-- HOUSES -->

    <div class="col-12 col-lg-6">
      <div *ngFor="let item of listHouses" class="col-12 col-lg-12 houses">
        <div class="row">

          <div class="col-12 col-md-4 image">
            <img [src]=item?.imagen1 class="card-img-top" alt="house image">
          </div>
          <div class="col-12 col-md-8 info">
            <div class="row">
              <div class="summary col-9">
                <h4 class="card-title">{{item.nombre}}</h4>
                <p>{{item.direccion}}</p>
                <div class="icons">
                  <a href="">{{item.camas}} <i class="fas fa-bed"></i></a>
                  <a href="">{{item.capacidad}} <i class="fas fa-users"></i></a>
                  <a href="">{{item.banos}} <i class="fas fa-bath"></i></a>
                </div>
                <p class="description">{{item.descripcion |puntos}} </p>
              </div>

              <div class="button col-3" [routerLink]="['/house/detail', item.fk_usuarios]">
                <a class="btn">
                  <i class="fas fa-arrow-right"></i>
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- MAP -->
    <div class="col-6 d-none d-lg-block containMap ">
      <div #googleMap class="map">
        <app-maps></app-maps>
      </div>
    </div>
    <div *ngIf="loading" class=" offset-1 col-4 d-none d-lg-block col-6">
      <!-- div de google maps -->
      <img class="wait" src="https://i.pinimg.com/originals/3f/2c/97/3f2c979b214d06e9caab8ba8326864f3.gif">
    </div>
  </div>
</div>