

a, p, i, h2, h4, button, input, label{
  font-family: 'Montserrat', sans-serif
}

.main{
  padding-left: 10px;
}

/* HOUSES */
.nav{
  background-color: white;
  z-index: 20;
}
.houses {
  padding: 20px 0px;
  border-bottom: 1px solid rgb(197, 197, 197);
}
.summary{
  padding-top: 1%;
}
.info h4 {
  margin-bottom: 0px;
}
.info p {
  color: rgb(128, 128, 128)
}
.info a {
  margin-right: 10px;
  color: #220e2a;
}
.info i {
  color: #220e2a
}
.info .description{
  color: black
}
.card-text {
  padding-top: 10px
}
.button .btn{
  display: inline-block;
}



/* MAP */
.containMap {
  position: fixed;
  right: 0;
}
.map {
  width: 100%;
  height: 600px
}
.loading {
 margin-left: 30%;
 margin-top: 30%
}
