@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');

a,
p,
h2,
h4,
button,
input,
label {
  font-family: 'Montserrat', sans-serif
}

.main {
  padding-left: 10px;
}

/* HOUSES */
.houses {
  padding: 20px 0px;
  border-bottom: 1px solid rgb(197, 197, 197);
}
.houses .image{
  height: 130px;
  overflow: hidden;
}
.houses .image img{
  display: block;
  position: center;
  /* background-position: center center; */
}

.houses .summary {
  padding-top: 1%;
}

.houses .summary a {
  margin-right: 10px;
}

.houses .info .summary h4 {
  margin-bottom: 0px;
}

.houses .info .summary p {
  color: rgb(128, 128, 128)
}

.houses .info .summary .icons {
  margin-top: 10px;
}

.houses .info .summary .icons a {
  margin-right: 20px;
  color: #220e2a;
}

.houses .info .summary .icons i {
  color: #220e2a
}

.houses .info .summary .description {
  color: black;
  padding-top: 10px
}

.houses .info .button .btn {
  display: inline-block;
}

.houses .btn .fas {
  position: absolute;
  bottom: 0;
  right: 20px
}

.houses .btn:hover .fas {
  transform: translate(5px);
  transition: 0.5s;
}

.houseContain{
  padding-bottom: 40px;
}
.houseContain .houses:last-child{
  border-bottom: 1px solid transparent;
}


/* MAP */
.containMap {
  position: fixed;
  right: 0;
}

.map {
  width: 100%;
  height: 600px
}
.wait img {
  display: block;
  margin:auto
}

@media (max-width: 767px) {
  .houses .image{
  height: 300px;
  overflow: hidden;
}
}
@media (max-width: 992px) {
  /* .wait{
  margin-left: 100px; */

}
