<!-- HERO -->
<div class="hero row">
  <div class="col-12 slider"
    [ngClass]="{ 'slide1': (slide === 'slide1') , 'slide2': (slide === 'slide2') , 'slide3': (slide === 'slide3') }">
    <div class="join row">
      <p class="col-12">Únete a nuestra comunidad de intercambio de casas</p>
      <div class="button col-12">
        <button class="btn btn-outline-secondary" [routerLink]="['/user/register']" type="submit"> ÚNETE </button>
      </div>
    </div>
  </div>
</div>

<!-- BODY -->
<div class="container">
  <div class="row">
    <div class="info offset-1 col-10">
      <div class="row">
        <div class="col-12">
          <p>¿Por qué usar este método para viajar?</p>
        </div>

        <div class="col-4">
          <div class="row">

            <div class="col-12">
              <img src="../../assets/images/cerdito.png" alt="">
            </div>
            <div class="col-12">
              <h3>Ahorra dinero</h3>
              <p>Ya que al usar este método, puedes olvidarte de los gastos de alojamiento</p>
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="row">
            <!-- <div class=" d-flex flex-flow-reverse"> -->

            <div class="col-12">
              <img src="../../assets/images/mapadelmundo.png" alt="">
            </div>
            <div class="col-12">
              <h3>Conoce mundo</h3>
              <p>Puedes viajar a lugares del mundo a los que nunca habrías imaginado ir</p>
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="row">

            <div class="col-12">
              <img src="../../assets/images/househome.png" alt="">
            </div>
            <div class="col-12">
              <h3>Siéntete como en casa</h3>
              <p>Puedes sentirte tan agusto como si estuvieras en tu propia casa</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>